.header{
    padding: 5px 20px;
    background: royalblue;
    margin-bottom: 20px;
  }
  
  .title{
    color: aliceblue;
    text-decoration: none;
  }
  
  .login,.register{
    float: right;
    text-decoration: none;
    color: aliceblue;
    padding-top: 7px;
    margin-right: 15px;
    margin-top: 7px;
  }

  .logout,.new-post{
    float: right;
    color: aliceblue;
    padding-top: 7px;
    margin-top: 7px;
    margin-right: 15px;
  }
  
  .logout:hover, .new-post:hover{
    color: aliceblue;
    text-decoration: none;
  }